{% extends "index.html" %}

{% block stats_link %}
<a class="nav-link active" aria-current="page" href="/stats">Stats</a>
<a class="nav-link" href="/bans">Bans</a>
{% endblock %}

{% block stats_search %}
<form class="d-flex" method="post" action="/search_stats">
    <input class="form-control me-2" type="search" name="search_stats" placeholder="Nickname/Steam" aria-label="Search">
    <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
</form>
{% endblock %}

{% block stats %}
<script src="{{ url_for('static', path='/js/stats.js') }}"></script>
<div class="container text-center px-10">
    <div class="row gx-5">
        <div class="col p-3">
            <h3 class="text-white">Top Kills</h3>
            <table class="table table-sm table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Kills</th>
                    </tr>
                </thead>
                <tbody class="top-kill"></tbody>
            </table>
            <div class="text-center loading-top-kill">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <h3 class="text-white">Top Skill</h3>
            <table class="table table-sm table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Skill</th>
                    </tr>
                </thead>
                <tbody class="top-skill"></tbody>
            </table>
            <div class="text-center loading-top-skill">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <h3 class="text-white">Top Damage</h3>
            <table class="table table-sm table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Damage</th>
                    </tr>
                </thead>
                <tbody class="top-damage"></tbody>
            </table>
            <div class="text-center loading-top-damage">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center px-10">
    <div class="row gx-5">
        <div class="col p-3">
            <h3 class="text-white">Top Players</h3>
            <table class="table table-sm table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Kills</th>
                        <th scope="col">Skill</th>
                        <th scope="col">Deaths</th>
                        <th scope="col">Damage</th>
                    </tr>
                </thead>
                <tbody class="top-players"></tbody>
            </table>
            <div class="text-center loading-top-players">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}